body::before {
    display: block;
    content: '';
    height: 60px;
}

body {
    font-family: cursive;
}
@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.d-md-flex {
    justify-content: space-between;
}
.anji {
    height: 50%;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}